<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>Document</title>
  </head>
  <body>
    <%- include('partials/navbar') %>
    <div class="row" id="post-filter-row">
      <div class="input-field col s12">
        <select>
          <option value="all">All Posts</option>
          <option value="published">Published Posts</option>
          <option value="unpublished">Unpublished Posts</option>
        </select>
        <label>Currently Showing</label>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <% if(posts.length === 0){ %>
        <h1>No Posts yet...</h1>
        <% }else{ %>
        <ul class="collection">
          <% posts.map(post=>{ %>
          <li style="padding: 0px 0px 10px 10px">
            <span class="title">
              <a href="<%=post.url%>"><h4><%=post.title%></h4></a>
            </span>
            <p><%- post.textTeaser %></p>
            <p style="margin-top: 10px">
              <span><b>Published On:</b> </span><%=post.formatedDateTime%>
            </p>
          </li>
          <%})%> <%}%>
        </ul>
      </div>
    </div>
  </body>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      var elems = document.querySelectorAll("select");
      var instances = M.FormSelect.init(elems, "input-field");
    });
  </script>
</html>
