<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>Document</title>
  </head>
  <body>
    <%- include('partials/navbar') %>
    <div class="row" id="post-filter-row">
      <div class="input-field col s12">
        <select>
          <option value="all">All Posts</option>
          <option value="published">Published Posts</option>
          <option value="unpublished">Unpublished Posts</option>
        </select>
        <label>Currently Showing</label>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <% if(posts.length === 0){ %>
        <h1>No Posts yet...</h1>
        <% }else{ %>
        <ul class="collection">
          <% posts.map(post=>{ %>
          <li class="collection-item" data-status="<%=post.published%>">
            <span class="title">
              <a href="<%=post.url%>"><h4><%=post.title%></h4></a>
            </span>
            <p style="margin-top: 10px">
              <span><b>Published On:</b> </span><%=post.formatedDateTime%>
            </p>
          </li>
          <%})%> <%}%>
        </ul>
      </div>
    </div>
  </body>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      let elems = document.querySelectorAll("select");
      let instances = M.FormSelect.init(elems, "input-field");
      const elements = document.querySelectorAll('.dropdown-content');
      const dropdown = document.querySelector('.select-wrapper>input');
      const postCollection = document.querySelectorAll('.collection>li');
      dropdown.addEventListener('click', ()=>{
        const nodes = elements[0].childNodes;
        nodes.forEach(node=>{
          node.addEventListener('click', (e)=>{
            // console.log(`${e.target.textContent}:${e.target.dataset.status}`);
            postCollection.forEach(post=>{
              post.removeAttribute('style');
            })
            if(e.target.textContent === 'Published Posts'){
              postCollection.forEach(post=>{
                if(post.dataset.status !== 'true'){
                  post.setAttribute('style', 'display:none;');
                }
              })
            }
            if(e.target.textContent === 'Unpublished Posts'){
              postCollection.forEach(post=>{
                if(post.dataset.status !== 'false'){
                  post.setAttribute('style', 'display:none');
                }
              })
            }
          })
        });
      })
    });
  </script>
</html>
