<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>Post</title>
</head>
<body>
    <%- include('partials/navbar') %>
    <div class="row">
        <div class="col s12">
            <h3><%=post.title%></h3>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <%-post.text%>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <a href="/blog/owner/posts/<%=post._id%>/edit" class="btn waves-effect blue lighten-1">Edit</a>
            <% if(post.published === false) {%>
                <a href="/blog/owner/posts/<%= post._id %>/publish" class="btn waves-effect">Publish</a>
            <%} else {%>
                <a href="/blog/owner/posts/<%= post._id %>/unpublish" class="btn waves-effect">Unpublish</a>
            <%}%>
            <a href="/blog/owner/posts/<%=post.id%>/delete" class="btn waves-effect red lighten-1">Delete</a>
        </div>
    </div>
</body>
</html>